/* regular device style */
/* common style */
body {
  margin: 0;
  padding: 0;
}
.container {
  margin-bottom: 40px;
}

/* Header section style*/
header {
  background-color: #6312ff;
  padding: 15px;
  width: 100%;
  margin-bottom: 40px;
}
.header-section {
  width: 90%;
  margin: auto;
  display: grid;
  flex-direction: row;
}

#burger-menu {
  width: 9%;
  padding: 4px 7px;
  border-radius: 10px;
  display: none;
  color: white;
  font-weight: bolder;
}

#burger-menu hr {
  height: 2px;
  background: white;
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / span 2;
  align-items: center;
}
.nav-link {
  text-align: center;
  padding: 5px 8px;
  border-radius: 5px;
  transition: 1s;
}

.nav-link:hover,
#burger-menu:hover {
  background: #c02963;
}
.login-btn-container {
  grid-column: 5 / span 2;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  background: #ff2c6c;
  padding: 2px 5px;
  transition: 2s;
  margin-left: 45%;
}
.login-btn img {
  width: 30%;
  transition: 2s;
}
.login-btn:hover {
  background-color: #18cf5e;
}
.login-btn:hover img {
  width: 15%;
}

/* banner section style*/
.banner div {
  width: 40%;
  padding: 5%;
}
.banner img {
  width: 100%;
  transition: 3s;
}
.banner img:hover {
  transform: scale(1.2) rotate(360deg);
}
.banner {
  display: flex;
  justify-content: space-around;
}
.banner h1 {
  color: white;
  font-weight: bolder;
  font-size: 50px;
}
.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 20px;
  background: #ff2c6c;
  padding: 4px 7px;
  transition: 2s;
}
.link:hover {
  width: 75%;
  height: 40px;
  background: #74e1e5;
}

/* player section style*/
.player-container {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  transition: 2s;
}
.player {
  padding: 3%;
  border-radius: 5px;
  box-shadow: 5px -5px 15px #ededed, -5px 5px 15px #ededed, 5px 5px 15px #ededed;
}
.player img,
.footer-top img {
  width: 100%;
}
.player:hover {
  box-shadow: 5px -5px 15px #c7c7ca, -5px 5px 15px #c7c7ca, 5px 5px 15px #c7c7ca,
    -5px -5px 15px #c7c7ca;
  width: 100%;
}

/*footer section style*/
.footer-top {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.footer-top div {
  width: 50%;
}
.footer-top h1 {
  font-weight: bolder;
  font-size: 50px;
}
.footer-top .link-btn {
  width: 37%;
}
.logo {
  margin: auto;
  width: 50%;
}
.logo img {
  width: 100%;
}
.social-icon {
  display: flex;
  justify-content: center;
}
.social-icon div {
  width: 5%;
  padding: 1%;
}
.social-icon img {
  width: 100%;
}

.copyright {
  text-align: center;
}

/* media */
/*small devices style properties*/
@media only screen and (max-width: 688px) {
  header {
    padding: 7px 0px;
  }
  .header-section {
    width: 90%;
    display: inline-block;
  }
  .login-btn-container {
    width: 40%;
  }
  .login-btn img {
    width: 20%;
  }
  .nav-items {
    display: none;
    transition: height 1s;
    overflow: hidden;
    margin-top: 40px;
  }
  .nav-link-container div {
    margin-bottom: 10px;
    overflow: hidden;
  }
  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #burger-menu {
    display: block;
  }
  .banner {
    display: block;
  }
  .banner div {
    width: 90%;
    margin: auto;
    padding: 7% 0;
    text-align: center;
  }
  .link-btn {
    width: 50% !important;
  }
  .banner img {
    width: 90%;
  }
  .player-container {
    display: block;
  }
  #players {
    height: 700px;
    overflow: scroll;
    border: 4px solid #3c66db;
    border-radius: 5px;
  }
  .player {
    margin-bottom: 25px;
  }

  #view-all {
    border-radius: 0 0 5px 5px;
  }
  .footer-top {
    display: block;
    text-align: center;
  }
  .footer-top div {
    width: 100%;
  }
  .footer-top .link-btn {
    margin: auto;
    width: 20%;
  }
  .logo {
    width: 80%;
  }
  .social-icon div {
    width: 19%;
  }
}

/*medium devices style properties*/

@media only screen and (min-width: 688px) and (max-width: 990px) {
  .player-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-top {
    display: block;
  }
  .footer-top div {
    width: 100%;
  }
  #players {
    height: 1000px;
    overflow: scroll;
    border: 4px solid #3c66db;
    border-radius: 5px;
  }

  #view-all {
    border-radius: 0 0 5px 5px;
  }
  .footer-top .link-btn {
    width: 20%;
  }
  .logo {
    width: 80%;
  }
  .social-icon div {
    width: 10%;
  }
}
